<div class="sidebar">
  <!--
  <div class="container sidebar-sticky">
  -->
  <div class="container">
    <div class="sidebar-about">
      {% if site.logo %}
      <div class="sidebar-logo">
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}images/{{ site.logo }}" alt="BioSQL Logo" title="BioSQL Home" width="100%"/>
        </a>
      </div>
      {% else %}
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      {% endif %}
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <!-- Link the "Home" entry to Main_Page, as used to be for the wiki -->
      {% assign home = site.pages | where:"title","Main Page" | first %}
      <a class="sidebar-nav-item{% if page.url == home.url %} active{% endif %}" href="{{ home.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--
      The GitHub snapshots for each tag  misses things like compiled Tutorial.pdf
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      -->
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
